	<pre>
<font size=5>Rules</font><font size=4 color=red>
                        Here are some important instructions and rules that you should understand carefully.

            1. Do not refresh the page once the test begins.
            2. You are not allowed to use any internet resources, i.e. no google.
            3. Do not copy or share the questions or answers with anyone until the exam is complete for everyone.
            4. Logout after the test.
            5. All your attempts at the questions are logged. Do not try to outsmart and break the testing system.
               If you do, we know who you are and we will expell you from the course.  You have been warned.

                                      We hope you enjoy taking these tests !!!

                            Correct Answer : 4 Marks                Wrong Answer : -1 Mark


	</font>
	</pre>